<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
     <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <typeAliases>
		<!--批量扫描配置别名，别名就是类名-->
		<package name="cn.financial.model"/>
	</typeAliases>
 
    <!--批量加载mapper,这里的mapper.java必须和mapper.xml名称相同-->
	<mappers>
		<package name="cn.financial.dao"/>
	</mappers>

</configuration>





<!-- mybatise 配置文件 -->