<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.financial.dao.BudgetDao">
     
       <resultMap id="budget" type="cn.financial.model.Budget">
           <id column="id" property="id" jdbcType="INTEGER" />
           <result column="oId" property="oId" jdbcType="VARCHAR" />
           <result column="info" property="info"  />
           <result column="createTime" property="createTime" jdbcType="DATE" />
           <result column="updateTime" property="updateTime" jdbcType="DATE" />
           <result column="typeId" property="typeId" jdbcType="VARCHAR" />
           <result column="uId" property="uId" jdbcType="VARCHAR" />
           <result column="year" property="year" jdbcType="INTEGER" />
           <result column="month" property="month" jdbcType="INTEGER" /> 
           <result column="status" property="status" jdbcType="INTEGER"/> 
           <result column="delStatus" property="delStatus" jdbcType="INTEGER"/>
          <!--  <association property="users"  resultMap="userResultMap" ></association> -->
       </resultMap> 
          
       <!--新增预算数据 -->
       <insert id="insertBudget" parameterType="Budget" keyProperty="id">
            insert into budget(id,oId,info,createTime,typeId,uId,year,month,status,delStatus)
            values (#{id},#{oId},#{info},#{createTime,jdbcType=DATE},#{typeId},#{uId},#{year},#{month},#{status},#{delStatus})
       </insert>
      
      
       <!-- 查询所有的预算数据 -->
       <select id="getAllBudget" resultMap="budget">  
        select id,oId,info,createTime,updateTime,typeId,uId,year,month,status,delStatus
        from  budget
        where delStatus=1
        ORDER BY createTime DESC
       </select>
       
      <!--  根据id查询预算数据 -->
       <select id="selectBudgetById" parameterType="String" resultMap="budget" >
           SELECT id,oId,info,createTime,updateTime,typeId,uId,year,month,status,delStatus
           FROM budget
           WHERE id = #{id} and delStatus=1
           ORDER BY createTime DESC
       </select>
       
       <!-- 根据条件查询预算数据 -->
       <select id="listBudgetBy" parameterType="map" resultType="Budget">
         SELECT s.id,s.oId,s.info,s.createTime,s.updateTime,s.typeId,s.uId,s.year,s.month,s.status,s.delStatus,o.orgName
         FROM budget s,organization o
         WHERE s.delStatus=1 AND s.oId=o.id
         <include refid="query_income_budget_where"></include>
         ORDER BY createTime DESC
         LIMIT #{start},#{pageSize}
       </select>
       
       <!-- 根据条件修改预算数据 -->
      <update id="updateBudget" parameterType="budget">
        update budget
        <trim prefix="set" suffixOverrides=",">
            <if test=" oId!=null and oId!=''">
                oId = #{oId},
            </if>
            <if test="info!=null and info!=''">
                info = #{info},
            </if>
            <if test="updateTime!=null and updateTime!=''">
                updateTime = #{updateTime},
            </if>
            <if test="typeId !=null and typeId!=''">
                typeId = #{typeId},
            </if>
            <if test="uId!=null and uId!=''">
                uId = #{uId},
            </if>
            <if test="year !=null and year!=''">
                year = #{year},
            </if>
            <if test="month!=null and month!=''">
                month = #{month},
            </if>
            <if test="status!=null and status!=''">
                status = #{status}
            </if>
            <if test="delStatus!=null and delStatus!=''">
                delStatus = #{delStatus}
            </if>
        </trim>
        where id = #{id}
      </update>
      
       <!-- 删除 status=0 -->
      <update id="deleteBudget">
        update budget set delStatus=0 where id=#{id}
      </update>
      
      <!--sql-->
     <sql id="query_budget_where">
        <if test="id!=null and id!=''">
            and id = #{id}
        </if>
        <if test=" oId!=null and oId!=''">
            and oId = #{oId}
        </if>
        <if test="info!=null and info!=''">
            and info = #{info}
        </if>
        <if test="createTime!=null and createTime!=''">
            and createTime = #{createTime}
        </if>
        <if test="updateTime!=null and updateTime!=''">
            and updateTime = #{updateTime}
        </if>
        <if test="typeId !=null and typeId!=''">
            and typeId = #{typeId}
        </if>
        <if test="uId!=null and uId!=''">
            and uId = #{uId}
        </if>
        <if test="year !=null and year!=''">
            and year = #{year}
        </if>
        <if test="month!=null and month!=''">
            and month = #{month}
         </if>
         <if test="status!=null and status!=''">
            and status = #{status}
         </if>
         <if test="delStatus!=null and delStatus!=''">
            and delStatus = #{delStatus}
         </if>
    </sql>
    
</mapper>