<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.financial.dao.BudgetDao">
     
       <resultMap id="budget" type="cn.financial.model.Budget">
           <id column="id" property="id" jdbcType="INTEGER" />
           <result column="oId" property="oId" jdbcType="VARCHAR" />
           <result column="info" property="info"  />
           <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
           <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
           <result column="typeId" property="typeId" jdbcType="VARCHAR" />
           <result column="uId" property="uId" jdbcType="VARCHAR" />
           <result column="year" property="year" jdbcType="INTEGER" />
           <result column="month" property="month" jdbcType="INTEGER" /> 
           <result column="status" property="status" jdbcType="INTEGER"/> 
           <result column="delStatus" property="delStatus" jdbcType="INTEGER"/>
           <!-- <result column="sId" property="sId" jdbcType="INTEGER"/> -->
          <!--  <association property="users"  resultMap="userResultMap" ></association> -->
       </resultMap> 
          
       <!--新增预算数据 -->
       <insert id="insertBudget" parameterType="Budget" keyProperty="id">
            insert into income_statement(id,oId,info,createTime,typeId,uId,year,month,status,delStatus,sId)
            values (#{id},#{oId},#{info},now(),#{typeId},#{uId},#{year},#{month},#{status},#{delStatus},2)
       </insert>
      
      
       <!-- 查询所有的预算数据 -->
       <select id="getAllBudget" resultMap="budget">  
        select b.id,b.oId,b.info,b.createTime,b.updateTime,b.typeId,b.uId,b.year,b.month,b.status,b.delStatus,bc.info as infos
		from budget b
		INNER JOIN budget_copy bc ON b.id=bc.id
		where b.delStatus=1 ORDER BY b.id DESC
       </select>
       
       <!-- 查询所有的预算数据 -->
       <select id="getAllBudgets" parameterType="map" resultMap="budget"  fetchSize="1">  
select b.id,b.oId,b.info,b.createTime,b.updateTime,b.typeId,b.uId,b.year,b.month,b.status,b.delStatus,bc.info as infos
      from income_statement b
	  LEFT JOIN  income_statement_copy bc ON b.id=bc.id
	  where
      oid in("ee042ad88b074a8f8db898059acbb323","dc08f7044c9249c988c4f42f69022952",
      "851f1687f20c474287e4b7de1ae0839e","90ad76acb556438bbb42384a56563169",
      "499bcfc565864d21b77897387d09a183","2a38648b34134859a018d080ae720573") ORDER BY b.createTime DESC LIMIT #{start},#{pageSize}
       </select>
       
      <!--  根据id查询预算数据 -->
       <select id="selectBudgetById" parameterType="String" resultMap="budget" >
           SELECT id,oId,info,createTime,updateTime,typeId,uId,year,month,status,delStatus
           FROM budget
           WHERE id = #{id} and delStatus=1
           ORDER BY createTime DESC
       </select>
       
       <!-- 根据条件查询预算数据 -->
       <select id="listBudgetBy" parameterType="map" resultType="Budget">
         SELECT s.id,s.oId,s.info,s.createTime,s.updateTime,s.typeId,s.uId,s.year,s.month,s.status,s.delStatus,s.sId,o.orgName
         FROM income_statement s,organization o
         WHERE s.delStatus=1 and s.sId=2 AND s.oId=o.id
         <include refid="query_budget_where"></include> 
         ORDER BY createTime DESC
         LIMIT #{start},#{pageSize}
       </select>
       
       <!-- 根据条件修改预算数据 -->
      <update id="updateBudget" parameterType="budget">
         update income_statement
        <trim prefix="set" suffixOverrides=",">
            <if test=" oId!=null and oId!=''">oId = #{oId},</if>
            <if test="info!=null and info!=''">info = #{info},</if>
            updateTime = now(),
            <if test="typeId !=null and typeId!=''">typeId = #{typeId},</if>
            <if test="uId!=null and uId!=''">uId = #{uId},</if>
            <if test="year !=null and year!=''">year = #{year},</if>
            <if test="month!=null and month!=''">month = #{month},</if>
            <if test="status!=null and status!=''"> status = #{status}</if>
            <if test="delStatus!=null and delStatus!=''"> delStatus = #{delStatus}</if>
        </trim>
         where id = #{id} and sId=2
      </update>
      
       <!-- 删除 status=0 -->
      <update id="deleteBudget">
       UPDATE income_statement SET delStatus=0 WHERE id=#{id} and sId=2
      </update>
      
      <!--sql-->
     <sql id="query_budget_where">
        <if test="id!=null and id!=''">
            and s.id = #{id}
        </if>
        <if test=" oId!=null and oId!=''">
            and s.oId = #{oId}
        </if>
        <if test="info!=null and info!=''">
            and s.info = #{info}
        </if>
         <if test="createTime!=null and createTime!=''">
            and s.createTime =#{createTime}
         </if>
         <if test="updateTime!=null and updateTime!=''">
            and s.updateTime = #{updateTime}
         </if>
        <if test="typeId !=null and typeId!=''">
            and s.typeId = #{typeId}
        </if>
        <if test="uId!=null and uId!=''">
            and s.uId = #{uId}
        </if>
        <if test="year !=null and year!=''">
            and s.year = #{year}
        </if>
        <if test="month!=null and month!=''">
            and s.month = #{month}
         </if>
         <if test="status!=null and status!=''">
            and s.status = #{status}
         </if>
         <if test="orgName!=null and orgName!=''">
            and o.orgName  LIKE "%"#{orgName}"%"
         </if>
    </sql>
    
</mapper>