<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.financial.dao.BusinessDataDao">
     
       <resultMap id="businessData" type="cn.financial.model.BusinessData">
           <id column="id" property="id" jdbcType="INTEGER" />
           <result column="oId" property="oId" jdbcType="VARCHAR" />
           <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
           <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
           <result column="typeId" property="typeId" jdbcType="VARCHAR" />
           <result column="uId" property="uId" jdbcType="VARCHAR" />
           <result column="year" property="year" jdbcType="INTEGER" />
           <result column="month" property="month" jdbcType="INTEGER" /> 
           <result column="status" property="status" jdbcType="INTEGER"/> 
           <result column="delStatus" property="delStatus" jdbcType="INTEGER"/>
           <result column="sId" property="sId" jdbcType="INTEGER"/>
           <result column="dataModuleId" property="dataModuleId" jdbcType="VARCHAR" />
           <result column="version" property="version" jdbcType="INTEGER"/>
          <!--  <association property="users"  resultMap="userResultMap" ></association> -->
       </resultMap> 
          
       <!--新增损益数据 -->
       <insert id="insertBusinessData" parameterType="businessData" keyProperty="id">
            insert into businessData(id,oId,createTime,typeId,uId,year,month,status,delStatus,sId,dataModuleId,version)
            values (#{id},#{oId},now(),#{typeId},#{uId},#{year},#{month},#{status},#{delStatus},#{sId},#{dataModuleId},#{version})
       </insert>
      
    
        <!-- 查询所有的损益数据 -->
       <!-- <select id="getAll" resultMap="businessData">  
        select id,oId,info,createTime,updateTime,typeId,uId,year,month,status,delStatus,sId
        from  businessData 
        where delStatus=1 
       </select> -->
       
      <!--  根据id查询损益数据 -->
       <select id="selectBusinessDataById" parameterType="String" resultMap="businessData" >
           SELECT * 
           FROM businessData 
           WHERE id=#{id} AND delStatus=1 
       </select>
       
         <!--  根据组织id查询损益数据 -->
       <select id="selectBusinessDataByType" parameterType="String" resultMap="businessData" >
           SELECT * 
           FROM businessData 
           WHERE typeId=#{id} AND delStatus=1 LIMIT 1
       </select>
       
       <!-- 根据条件查询损益数据 -->
       <select id="listBusinessDataBy" parameterType="map" resultType="businessData">
         SELECT *
         FROM businessData b,organization o,businessDataInfo info
         WHERE b.delStatus=1 and o.status=1 and info.delStatus=1 and b.id=info.businessDataId and o.id=b.oId
         <include refid="query_businessData_where"></include>  
         ORDER BY b.updateTime DESC
         LIMIT #{start},#{pageSize}
       </select>
       

       <!--不分页，根据条件查询业务表  -->
       <select id="getBusinessAllBySomeOne" parameterType="map" resultType="businessData">
       select  * from businessData as b where 1=1
       <include refid="query_businessData_where"></include> 
       </select>
       
       <!-- 导出数据查询-->
       <select id="businessDataExport" parameterType="map" resultType="businessData">
         SELECT *
         FROM businessData b,organization o,businessDataInfo info
         WHERE b.delStatus=1 and o.status=1 and info.delStatus=1 and b.id=info.businessDataId and o.id=b.oId 
         <include refid="query_businessData_where"></include>  
         ORDER BY b.updateTime DESC
       </select>
       
      <!-- 根据条件修改损益数据 -->
      <update id="updateBusinessData" parameterType="businessData">
        update businessData
        <set>
           <if test="status!=null">status = #{status},</if>
            <if test="delStatus!=null">delStatus = #{delStatus},</if>
              updateTime = now()
        </set>
         where id = #{id}
      </update>
      
      <!-- 删除用户  status=0 -->
      <update id="deleteBusinessData">
        UPDATE businessData SET delStatus=0 WHERE id=#{id}
      </update>
      
       <!-- 根据选定条件查询损益数据 -->
       <select id="listBusinessDataByIdAndDate" parameterType="map" resultType="businessData">
         SELECT o.info,s.typeId,s.oId,s.id
         FROM businessData s,businessDataInfo o
         WHERE s.delStatus=1 AND s.id=o.businessDataId
         <include refid="query_businessData_foreachTypeId"></include>   
         <include refid="query_businessData_dateAndId"></include>
       </select>
      
    
      <!--sql-->
     <sql id="query_businessData_where">
        <if test="year !=null and year!=''">
            and b.year = #{year}
        </if>
        <if test="month!=null and month!=''">
            and b.month = #{month}
        </if>
        <if test="sId!=null and sId!=''">
            and b.sId = #{sId}
        </if>
         <if test="typeId!=null and typeId!=''">
          and b.typeId in 
            <foreach collection="typeId" item="typeId" index="index" open="(" separator="," close=")" >
               #{typeId}
           </foreach>
        </if>
       <!--  <if test="oId!=null and oId!=''">
         and o.id=b.oId and b.oId in 
         <foreach collection="oId" item="oId" index="index" open="(" separator="," close=")" >
               #{oId}
           </foreach>
        </if>
         <if test="typeId!=null and typeId!=''">
         and o.id=b.typeId and b.oId in 
         <foreach collection="typeId" item="typeId" index="index" open="(" separator="," close=")" >
               #{typeId}
           </foreach>
        </if> -->
         <!-- <if test=" orgName!=null and orgName!=''">
            and o.orgName LIKE CONCAT('%',#{orgName},'%') in 
          <foreach collection="orgName" item="orgName" index="index" open="(" separator="," close=")" >
               #{orgName}
           </foreach>
        </if>  -->
    </sql>
    
     <!--data sql-->
     
    <sql id="query_businessData_foreachTypeId">
        and s.typeId in
        <foreach item="item" collection="typeId" open="(" separator=","
            close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </sql>
     
     <sql id="query_businessData_dateAndId">
        <if test="startYear!=null and startYear!=''">
             and  s.year &gt;=  #{startYear,jdbcType=INTEGER}
        </if>
        <if test="endYear!=null and endYear!=''">
             and  s.year &lt;= #{endYear,jdbcType=INTEGER}
        </if>
        <if test="startMonth!=null and startMonth!=''">
             and  s.month &gt;=  #{startMonth,jdbcType=INTEGER}
        </if>
        <if test="endMonth!=null and endMonth!=''">
             and  s.month &lt;= #{endMonth,jdbcType=INTEGER}
        </if>
    </sql>
</mapper>