<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.financial.dao.BusinessDataDao">
     
       <resultMap id="businessData" type="cn.financial.model.BusinessData">
           <id column="id" property="id" jdbcType="INTEGER" />
           <result column="oId" property="oId" jdbcType="VARCHAR" />
           <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
           <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
           <result column="typeId" property="typeId" jdbcType="VARCHAR" />
           <result column="uId" property="uId" jdbcType="VARCHAR" />
           <result column="year" property="year" jdbcType="INTEGER" />
           <result column="month" property="month" jdbcType="INTEGER" /> 
           <result column="status" property="status" jdbcType="INTEGER"/> 
           <result column="delStatus" property="delStatus" jdbcType="INTEGER"/>
           <result column="sId" property="sId" jdbcType="INTEGER"/>
           <result column="dataModuleId" property="dataModuleId" jdbcType="VARCHAR" />
           <result column="version" property="version" jdbcType="INTEGER"/>
           <result column="writeStatus" property="writeStatus" jdbcType="INTEGER"/>
          <!--  <association property="users"  resultMap="userResultMap" ></association> -->
       </resultMap> 
          
       <!--新增损益数据 -->
       <insert id="insertBusinessData" parameterType="businessData" keyProperty="id">
            insert into businessData(id,oId,createTime,updateTime,typeId,uId,year,month,status,delStatus,sId,dataModuleId,version)
            values (#{id},#{oId},now(),now(),#{typeId},#{uId},#{year},#{month},#{status},#{delStatus},#{sId},#{dataModuleId},#{version})
       </insert>
      
    
        <!-- 查询年份输入框 -->
       <select id="businessDataYear" resultMap="businessData">  
        select year,sId
        from  businessData 
        where delStatus=1 
         <if test="sId!=null and sId!=''">
            and sId = #{sId}
        </if>
        GROUP BY year DESC  
       </select> 
       
      <!--  根据id查询损益数据 -->
       <select id="selectBusinessDataById" parameterType="String" resultMap="businessData" >
           SELECT * 
           FROM businessData 
           WHERE id=#{id} AND delStatus=1 
       </select>
       
         <!--  根据组织id查询损益数据 -->
       <select id="selectBusinessDataByType" parameterType="String" resultMap="businessData" >
           SELECT * 
           FROM businessData 
           WHERE typeId=#{id} AND delStatus=1 LIMIT 1
       </select>
       
       
      <!-- 根据条件查询损益数据 -->
       <select id="listBusinessDataBy" parameterType="map" resultType="businessData">
       select businessData.*,organization.orgName,org.orgName as companyName  from businessData
       INNER JOIN organization ON businessData.typeId=organization.id
       INNER JOIN organization org ON businessData.oId=org.id
       INNER JOIN businessDataInfo ON businessData.id=businessDataInfo.businessDataId
       WHERE businessData.delStatus=1 and businessDataInfo.delStatus=1
       <include refid="query_businessData_where"></include>  
       ORDER BY businessData.updateTime DESC
       LIMIT #{start},#{pageSize}
       </select>  
       

      <!-- 导出数据查询-->
       <select id="businessDataExport" parameterType="map" resultType="businessData">
       select businessData.*,organization.orgName,org.orgName as companyName  from businessData
       INNER JOIN organization ON businessData.typeId=organization.id
       INNER JOIN organization org ON businessData.oId=org.id
       INNER JOIN businessDataInfo ON businessData.id=businessDataInfo.businessDataId
       WHERE businessData.delStatus=1 and businessDataInfo.delStatus=1
       <include refid="query_businessData_where"></include>  
       ORDER BY businessData.updateTime DESC
       </select>
  
       
     <!--   <select id="listBusinessDataBy" parameterType="map" resultType="businessData">
        SELECT 
        businessData.id,businessData.oId,businessData.year,businessData.month,businessData.updateTime,businessData.typeId,
        businessData.status,organization.orgName,businessData.uId
        FROM businessData 
        INNER JOIN organization ON businessData.typeId=organization.id
        INNER JOIN businessDataInfo ON businessData.id=businessDataInfo.businessDataId
        WHERE businessData.delStatus=1 and businessDataInfo.delStatus=1
        <include refid="query_businessData_where"></include>  
        ORDER BY businessData.updateTime DESC
        LIMIT #{start},#{pageSize}
       </select>  -->
       
       <!--不分页，根据条件查询业务表  -->
       <select id="getBusinessAllBySomeOne" parameterType="map" resultType="businessData">
       select  * from businessData as b where 1=1
       <include refid="query_businessDataBySomeOne_where"></include> 
       </select>
       
      
       
      <!-- 根据条件修改损益数据 -->
      <update id="updateBusinessData" parameterType="businessData">
        update businessData
        <set>
           <if test="status!=null">status = #{status},</if>
            <if test="uId !=null and uId!=''">uId = #{uId},</if>
              updateTime = now()
        </set>
         where id = #{id}
      </update>
      
      <!-- 删除用户  status=0 -->
      <update id="deleteBusinessData">
        UPDATE businessData SET delStatus=0 WHERE id=#{id}
      </update>
      
       <!-- 根据选定条件查询损益数据 -->
       <select id="listBusinessDataByIdAndDate" parameterType="map" resultType="businessData">
         SELECT o.info,s.typeId,s.oId,s.id,s.dataModuleId
         FROM businessData s,businessDataInfo o
         WHERE s.delStatus=1 AND s.id=o.businessDataId
         <include refid="query_businessData_foreachTypeId"></include>   
         <include refid="query_businessData_dateAndId"></include>
       </select>
       
       <!-- 根据选定条件查询所有损益数据 -->
       <select id="listBusinessDataByIdAndDateList" parameterType="map" resultType="businessData">
		SELECT bd.id,bd.oId,bd.dataModuleId,bd.typeId,bi.info FROM
	 	organization oz , businessData bd ,businessDataInfo bi
		WHERE oz.id = bd.typeId AND bd.id = bi.businessDataId
		AND oz.status = 1
		AND oz.orgType = 3
		AND bd.delStatus = 1
         <include refid="query_businessData_foreachCode"></include>   
         <include refid="query_businessData_dateCode"></include>
       </select>
      
    
    <sql id="query_businessData_where">
        <if test="year !=null and year!=''">
            and businessData.year = #{year}
        </if>
        <if test="month!=null and month!=''">
            and businessData.month = #{month}
        </if>
        <if test="sId!=null and sId!=''">
            and businessData.sId = #{sId}
        </if>
         <!-- <if test="typeId!=null and typeId!=''">
          and businessData.typeId in 
            <foreach collection="typeId" item="typeId" index="index" open="(" separator="," close=")" >
               #{typeId}
           </foreach>
        </if> -->
        
         <if test="code!=null and code!=''">
          and( businessData.oId in (SELECT id from organization WHERE 1=1 and
           <foreach collection="code" item="code" index="index"  separator="OR">
             code LIKE CONCAT(#{code},'%')
           </foreach>
           )
          OR businessData.typeId  in (SELECT id from organization WHERE 1=1 and
          <foreach collection="codee" item="codee" index="index"  separator="OR">
             code LIKE CONCAT(#{codee},'%')
          </foreach>
          ))
        </if>
        <if test="orgName!=null and orgName!=''">
           and (org.orgName LIKE CONCAT('%',#{orgName},'%')
              or organization.orgName LIKE CONCAT('%',#{orgName},'%'))
        </if>
         <!-- <if test="orgName!=null and orgName!=''">
             and o.orgName LIKE CONCAT('%',#{orgName},'%')
         </if> -->
       <!--  <if test="oId!=null and oId!=''">
         and o.id=b.oId and b.oId in 
         <foreach collection="oId" item="oId" index="index" open="(" separator="," close=")" >
               #{oId}
           </foreach>
        </if>
         <if test="typeId!=null and typeId!=''">
         and o.id=b.typeId and b.oId in 
         <foreach collection="typeId" item="typeId" index="index" open="(" separator="," close=")" >
               #{typeId}
           </foreach>
        </if> -->
         <!-- <if test=" orgName!=null and orgName!=''">
            and o.orgName LIKE CONCAT('%',#{orgName},'%') in 
          <foreach collection="orgName" item="orgName" index="index" open="(" separator="," close=")" >
               #{orgName}
           </foreach>
        </if>  -->
    </sql>
    
     <!--data sql-->
     
    <sql id="query_businessData_foreachCode">
         and 
        <foreach collection="codeId" item="item" index="index"  separator="OR">
             oz.code LIKE CONCAT(#{codeId},'%')
        </foreach>
    </sql>
    
    <sql id="query_businessData_dateCode">
        <if test="startYear!=null and startYear!=''">
             and  bd.year &gt;=  #{startYear,jdbcType=INTEGER}
        </if>
        <if test="endYear!=null and endYear!=''">
             and  bd.year &lt;= #{endYear,jdbcType=INTEGER}
        </if>
        <if test="startMonth!=null and startMonth!=''">
             and  bd.month &gt;=  #{startMonth,jdbcType=INTEGER}
        </if>
        <if test="endMonth!=null and endMonth!=''">
             and  bd.month &lt;= #{endMonth,jdbcType=INTEGER}
        </if>
    </sql>
    
    <sql id="query_businessData_foreachTypeId">
        and s.typeId in
        <foreach item="item" collection="typeId" open="(" separator=","
            close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </sql>
     
     <sql id="query_businessData_dateAndId">
        <if test="startYear!=null and startYear!=''">
             and  s.year &gt;=  #{startYear,jdbcType=INTEGER}
        </if>
        <if test="endYear!=null and endYear!=''">
             and  s.year &lt;= #{endYear,jdbcType=INTEGER}
        </if>
        <if test="startMonth!=null and startMonth!=''">
             and  s.month &gt;=  #{startMonth,jdbcType=INTEGER}
        </if>
        <if test="endMonth!=null and endMonth!=''">
             and  s.month &lt;= #{endMonth,jdbcType=INTEGER}
        </if>
    </sql>
    
     <sql id="query_businessDataBySomeOne_where">
        <if test="year !=null and year!=''">
            and b.year = #{year}
        </if>
        <if test="month!=null and month!=''">
            and b.month = #{month}
        </if>
        <if test="sId!=null and sId!=''">
            and b.sId = #{sId}
        </if>
        <if test="status!=null and status!=''">
            and b.status = #{status}
        </if>
         <if test="typeId!=null and typeId!=''">
          and b.typeId =#{typeId}
        </if>
    </sql>
    
</mapper>