<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.financial.dao.CapitalDao">
     
       <resultMap id="capital" type="cn.financial.model.Capital">
           <id column="id" property="id" jdbcType="INTEGER" />
           <result column="oId" property="oId" jdbcType="VARCHAR" />
           <result column="company" property="company" jdbcType="VARCHAR" />
           <result column="accountName" property="accountName" jdbcType="VARCHAR" />
           <result column="accountBank" property="accountBank" jdbcType="VARCHAR" />
           <result column="account" property="account" jdbcType="VARCHAR" />
           <result column="accountNature" property="accountNature" jdbcType="VARCHAR" />
           <result column="tradeTime" property="tradeTime" jdbcType="TIMESTAMP" />
           <result column="startBlack" property="startBlack" jdbcType="INTEGER" />
           <result column="incom" property="incom" jdbcType="INTEGER" />
           <result column="pay" property="pay" jdbcType="INTEGER" />
           <result column="endBlack" property="endBlack" jdbcType="INTEGER" />
           <result column="abstrac" property="abstrac" jdbcType="VARCHAR" />
           <result column="classify" property="classify" jdbcType="VARCHAR" />
           <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
           <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
           <result column="uId" property="uId" jdbcType="VARCHAR" />
           <result column="year" property="year" jdbcType="INTEGER" />
           <result column="month" property="month" jdbcType="INTEGER" /> 
           <result column="status" property="status" jdbcType="INTEGER"/> 
           <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
           <result column="editor" property="editor" jdbcType="INTEGER" />
          <!--  <association property="users"  resultMap="userResultMap" ></association> -->
       </resultMap>    
 
        <!-- 新增资金数据 -->
       <insert id="insertCapital" parameterType="capital" keyProperty="id">
            insert into capital(id,oId,company,accountName,accountBank,account,accountNature,
            tradeTime,startBlack,incom,pay,endBlack,abstrac,classify,createTime,uId,year,month,remarks,status,editor)
            values (#{id},#{oId},#{company},#{accountName},#{accountBank},#{account},#{accountNature},#{tradeTime},#{startBlack},
            #{incom},#{pay}, #{endBlack},#{abstrac},#{classify},now(),#{uId},#{year},#{month},#{remarks},#{status},#{editor})
       </insert>
      
       <!--根据id查询资金数据 -->
       <select id="selectCapitalById" parameterType="String" resultMap="capital" >
           SELECT *
           FROM capital 
           WHERE id = #{id} and status=1
           ORDER BY createTime DESC
       </select>
       
       <!-- 根据条件查询资金数据-->
       <select id="listCapitalBy" parameterType="map" resultType="Capital">
         <!-- SELECT * FROM 
         capital 
         WHERE status=1
         <include refid="query_capital_where"></include>
         ORDER BY tradeTime DESC -->
         SELECT * FROM 
         capital c,organization o
         WHERE c.status=1 and o.id=c.oId and c.oId in 
         <foreach collection="oId" item="oId" index="index" open="(" separator="," close=")" >
               #{oId}
           </foreach>
         <include refid="query_capital_where"></include>
         ORDER BY c.createTime DESC
         LIMIT #{start},#{pageSize}
       </select>
       
       <!-- 根据条件导出资金数据-->
       <select id="capitalExport" parameterType="map" resultType="Capital">
         SELECT * FROM 
         capital c,organization o
         WHERE c.status=1 and o.id=c.oId and c.oId in 
         <foreach collection="oId" item="id" index="index" open="(" separator="," close=")" >
               #{id}
           </foreach>
         <include refid="query_capital_where"></include>
         ORDER BY c.createTime DESC
       </select>
      
       
       <!--导出根据多个id查询 -->
       <!-- <select id="listCapitalById" parameterType="java.util.List" resultMap="capital" >
           SELECT id,plate,bu,regionName,province,city,company,accountName,accountBank,account,accountNature,
            tradeTime,startBlack,incom,pay,endBlack,abstrac,classify,createTime,updateTime,uId,year,month,remarks,status
           FROM capital 
           WHERE status=1 and id in 
            <foreach collection="list" item="id" index="index" open="(" separator="," close=")" >
               #{id}
           </foreach>
           ORDER BY createTime DESC
       </select> -->
       
       <!-- 根据条件修改资金数据--> 
      <update id="updateCapital" parameterType="capital">
         UPDATE capital
        <trim prefix="set" suffixOverrides=",">
           <!--  <if test="oId!=null and oId!=''">oId = #{oId},</if>
            <if test="plate!=null and plate!=''">plate = #{plate},</if>
            <if test="bu!=null and bu!=''">bu = #{bu},</if>
            <if test="regionName!=null and regionName!=''">regionName = #{regionName},</if>
            <if test="province!=null and province!=''">province = #{province},</if>
            <if test="city!=null and city!=''">city = #{city},</if> -->
            <if test="company!=null and company!=''">company = #{company},</if>
            <if test="accountName!=null and accountName!=''">accountName = #{accountName},</if>
            <if test="accountBank!=null and accountBank!=''">accountBank = #{accountBank},</if>
            <if test="account!=null and account!=''">account = #{account},</if>
            <if test="accountNature!=null and accountNature!=''">accountNature = #{accountNature},</if>
            <if test="tradeTime!=null and tradeTime!=''"> tradeTime = #{tradeTime},</if>
            <if test="startBlack!=null and startBlack!=''">startBlack = #{startBlack},</if>
            <if test="incom!=null and incom!=''">incom = #{incom},</if>
            <if test="pay!=null and pay!=''">pay = #{pay},</if>
            <if test="endBlack!=null and endBlack!=''">endBlack = #{endBlack},</if>
            <if test="abstrac!=null and abstrac!=''">abstrac = #{abstrac},</if>
            <if test="classify!=null and classify!=''">classify = #{classify},</if>
            updateTime= now(),
            <if test="uId!=null and uId!=''">uId = #{uId},</if>
            <if test="year !=null and year!=''">year = #{year},</if>
            <if test="month!=null and month!=''">month = #{month},</if>
            <if test="remarks!=null and remarks!=''">remarks = #{remarks},</if>
            <if test="status!=null and status!=''"> status = #{status}</if>
            <if test="editor!=null and editor!=''"> editor = #{editor}</if>
        </trim>
         where id = #{id}
      </update>
      
       <!-- 删除用户  status=0 -->
      <update id="deleteCapital">
        update capital set status=0 where id=#{id}
      </update>
    
      
      <!--定义一个sql -->
     <sql id="query_capital_where">
     
      <!--   <if test=" plate!=null and plate!=''">
             and c.plate LIKE CONCAT('%',#{plate},'%')
             and c.plate =#{plate}
        </if>
        <if test=" bu!=null and bu!=''">
             and c.bu =#{bu}
        </if>
        <if test=" regionName!=null and regionName!=''">
             and c.regionName=#{regionName}
        </if>
        <if test=" province!=null and province!=''">
             and c.province =#{province}
        </if>
        <if test=" city!=null and city!=''">
             and c.city=#{city}
        </if>
         <if test="accountName!=null and accountName!=''">
             and  c.accountName =#{accountName}
        </if>
         -->
          <if test=" company!=null and company!=''">
            and c.company in 
          <foreach collection="company" item="company" index="index" open="(" separator="," close=")" >
               #{company}
           </foreach>
        </if>        
        <if test="accountBank!=null and accountBank!=''">
             and c.accountBank LIKE CONCAT('%',#{accountBank},'%')
         </if>
         <!-- <if test="account!=null and account!=''">
             and c.account =#{account}
         </if>  -->
         <if test="accountNature!=null and accountNature!=''">
             and c.accountNature LIKE CONCAT('%',#{accountNature},'%')
         </if>
         <if test="tradeTimeBeg!=null and tradeTimeBeg!=''">
             and c.tradeTime &gt;= #{tradeTimeBeg}
              <!-- and  c.tradeTime between #{tradeTimeBeg} and #{tradeTimeEnd}  -->
            <!--  and c.tradeTime>=#{tradeTimeBeg} and c.tradeTime<=#{tradeTimeEnd} -->
          </if>
          <if test="tradeTimeEnd!=null and tradeTimeEnd!=''">
             and c.tradeTime &lt;= #{tradeTimeEnd}
          </if>
          <!-- <if test="startBlack!=null and startBlack!=''">
             and c.startBlack =#{startBlack} 
          </if>
          <if test="incom!=null and incom!=''">
             and c.incom=#{incom}
          </if>
          <if test="pay!=null and pay!=''">
             and c.pay =#{pay}
          </if>
          <if test="endBlack!=null and endBlack!=''">
             and c.endBlack=#{endBlack}
          </if>
          <if test="abstrac!=null and abstrac!=''">
             and c.abstrac #{abstrac}
          </if>  -->
          <if test="classify!=null and classify!=''">
              and c.classify LIKE CONCAT('%',#{classify},'%')
          </if>
         
         <!-- <if test="remarks!=null and remarks!=''">
            and remarks LIKE CONCAT('%',#{remarks},'%')
         </if> -->
         <!-- <if test="status!=null and status!=''">
            and status = #{status}
         </if> -->
    </sql>
    
</mapper>