<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.financial.dao.CapitalDao">
     
       <resultMap id="capital" type="cn.financial.model.Capital">
           <id column="id" property="id" jdbcType="INTEGER" />
           <result column="plate" property="plate" jdbcType="VARCHAR" />
           <result column="BU" property="BU" jdbcType="VARCHAR" />
           <result column="regionName" property="regionName" jdbcType="VARCHAR" />
           <result column="province" property="province" jdbcType="VARCHAR" />
           <result column="city" property="city" jdbcType="VARCHAR" />
           <result column="company" property="company" jdbcType="VARCHAR" />
           <result column="accountName" property="accountName" jdbcType="VARCHAR" />
           <result column="accountBank" property="accountBank" jdbcType="VARCHAR" />
           <result column="account" property="account" jdbcType="VARCHAR" />
           <result column="accountNature" property="accountNature" jdbcType="VARCHAR" />
           <result column="tradeTime" property="tradeTime" jdbcType="TIMESTAMP" />
           <result column="startBlack" property="startBlack" jdbcType="INTEGER" />
           <result column="incom" property="incom" jdbcType="INTEGER" />
           <result column="pay" property="pay" jdbcType="INTEGER" />
           <result column="endBlack" property="endBlack" jdbcType="INTEGER" />
           <result column="abstrac" property="abstrac" jdbcType="VARCHAR" />
           <result column="classify" property="classify" jdbcType="VARCHAR" />
           <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
           <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
           <result column="uId" property="uId" jdbcType="VARCHAR" />
           <result column="year" property="year" jdbcType="INTEGER" />
           <result column="month" property="month" jdbcType="INTEGER" /> 
           <result column="status" property="status" jdbcType="INTEGER"/> 
           <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
          <!--  <association property="users"  resultMap="userResultMap" ></association> -->
       </resultMap>    
 
        <!-- 新增资金数据 -->
       <insert id="insertCapital" parameterType="capital" keyProperty="id">
            insert into capital(id,plate,BU,regionName,province,city,company,accountName,accountBank,account,accountNature,
            tradeTime,startBlack,incom,pay,endBlack,abstrac,classify,createTime,uId,year,month,remarks,status)
            values (#{id},#{plate},#{BU},#{regionName},#{province},#{city},#{company},#{accountName},#{accountBank},#{account},#{accountNature},#{tradeTime},#{startBlack},#{incom},#{pay},
            #{endBlack},#{abstrac},#{classify},now(),#{uId},#{year},#{month},#{remarks},#{status})
       </insert>
      
       <!-- 查询所有的资金数据 -->
      <!--  <select id="getAllCapital" resultMap="capital">  
        select id,plate,BU,regionName,province,city,company,accountName,accountBank,account,accountNature,
            tradeTime,startBlack,incom,pay,endBlack,abstrac,classify,createTime,updateTime,uId,year,month,remarks,status
         from capital 
         where status=1
         <include refid="query_capital_where"></include>
         ORDER BY createTime DESC
       </select> -->
       
       <!--根据id查询资金数据 -->
       <select id="selectCapitalById" parameterType="String" resultMap="capital" >
           SELECT id,plate,BU,regionName,province,city,company,accountName,accountBank,account,accountNature,
            tradeTime,startBlack,incom,pay,endBlack,abstrac,classify,createTime,updateTime,uId,year,month,remarks,status
           FROM capital 
           WHERE id = #{id} and status=1
           ORDER BY tradeTime DESC
       </select>
       
       <!-- 根据条件查询资金数据-->
       <select id="listCapitalBy" parameterType="map" resultType="Capital">
         SELECT plate,BU,regionName,province,city,company,accountName,accountBank,account,accountNature,
            tradeTime,startBlack,incom,pay,endBlack,abstrac,classify,uId,remarks,status 
         FROM capital
         WHERE status=1 
         <include refid="query_capital_where"></include>
         ORDER BY tradeTime DESC
         LIMIT #{start},#{pageSize}
       </select>
       
        <!-- 根据条件查询资金数据-->
       <select id="getAllCapital" parameterType="map" resultType="Capital">
         SELECT plate,BU,regionName,province,city,company,accountName,accountBank,account,accountNature,
            tradeTime,startBlack,incom,pay,endBlack,abstrac,classify,uId,remarks,status 
         FROM capital
         WHERE status=1 
         <include refid="query_capital_where"></include>
         ORDER BY tradeTime DESC
       </select>
       
       <!--导出根据多个id查询 -->
       <select id="listCapitalById" parameterType="java.util.List" resultMap="capital" >
           SELECT id,plate,BU,regionName,province,city,company,accountName,accountBank,account,accountNature,
            tradeTime,startBlack,incom,pay,endBlack,abstrac,classify,createTime,updateTime,uId,year,month,remarks,status
           FROM capital 
           WHERE status=1 and id in 
            <foreach collection="list" item="id" index="index" open="(" separator="," close=")" >
               #{id}
           </foreach>
           ORDER BY createTime DESC
       </select>
       
       <!-- 根据条件修改资金数据--> 
      <update id="updateCapital" parameterType="capital">
         UPDATE capital
        <trim prefix="set" suffixOverrides=",">
            <if test="plate!=null and plate!=''">plate = #{plate},</if>
            <if test="BU!=null and BU!=''">BU = #{BU},</if>
            <if test="regionName!=null and regionName!=''">regionName = #{regionName},</if>
            <if test="province!=null and province!=''">province = #{province},</if>
            <if test="city!=null and city!=''">city = #{city},</if>
            <if test="company!=null and company!=''">company = #{company},</if>
            <if test="accountName!=null and accountName!=''">accountName = #{accountName},</if>
            <if test="accountBank!=null and accountBank!=''">accountBank = #{accountBank},</if>
            <if test="account!=null and account!=''">account = #{account},</if>
            <if test="accountNature!=null and accountNature!=''">accountNature = #{accountNature},</if>
            <if test="tradeTime!=null and tradeTime!=''"> tradeTime = #{tradeTime},</if>
            <if test="startBlack!=null and startBlack!=''">startBlack = #{startBlack},</if>
            <if test="incom!=null and incom!=''">incom = #{incom},</if>
            <if test="pay!=null and pay!=''">pay = #{pay},</if>
            <if test="endBlack!=null and endBlack!=''">endBlack = #{endBlack},</if>
            <if test="abstrac!=null and abstrac!=''">abstrac = #{abstrac},</if>
            <if test="classify!=null and classify!=''">classify = #{classify},</if>
            updateTime= now(),
            <if test="uId!=null and uId!=''">uId = #{uId},</if>
            <if test="year !=null and year!=''">year = #{year},</if>
            <if test="month!=null and month!=''">month = #{month},</if>
            <if test="remarks!=null and remarks!=''">remarks = #{remarks},</if>
            <if test="status!=null and status!=''"> status = #{status}</if>
        </trim>
         where id = #{id}
      </update>
      
       <!-- 删除用户  status=0 -->
      <update id="deleteCapital">
        update capital set status=0 where id=#{id}
      </update>
    
      
      <!--定义一个sql -->
     <sql id="query_capital_where">
     
        <if test=" plate!=null and plate!=''">
             and plate LIKE CONCAT('%',#{plate},'%')
             <!--  = like '%#{plate}%' -->
        </if>
        <if test=" BU!=null and BU!=''">
             and BU LIKE CONCAT('%',#{BU},'%')
        </if>
        <if test=" regionName!=null and regionName!=''">
             and regionName LIKE CONCAT('%',#{regionName},'%') 
        </if>
        <if test=" province!=null and province!=''">
             and province LIKE CONCAT('%',#{province},'%')
        </if>
        <if test=" city!=null and city!=''">
             and city =  LIKE CONCAT('%',#{city},'%') 
        </if>
        <if test=" company!=null and company!=''">
             and company LIKE CONCAT('%',#{company},'%') 
        </if>
        <if test="accountName!=null and accountName!=''">
             and accountName LIKE CONCAT('%',#{accountName},'%')
        </if>
        <if test="accountBank!=null and accountBank!=''">
             and accountBank LIKE CONCAT('%',#{accountBank},'%')
         </if>
         <if test="account!=null and account!=''">
             and account LIKE CONCAT('%',#{account},'%')
         </if> 
         <if test="accountNature!=null and accountNature!=''">
             and accountNature LIKE CONCAT('%',#{accountNature},'%')
         </if>
         <if test="tradeTime!=null and tradeTime!=''">
             and  tradeTime = tradeTime between '#{tradeTimeBeg}' and '#{tradeTimeEnd}'
          </if>
          <if test="startBlack!=null and startBlack!=''">
             and startBlack LIKE CONCAT('%',#{startBlack},'%') 
          </if>
          <if test="incom!=null and incom!=''">
             and incom LIKE CONCAT('%',#{incom},'%')
          </if>
          <if test="pay!=null and pay!=''">
             and pay LIKE CONCAT('%',#{pay},'%')
          </if>
          <if test="endBlack!=null and endBlack!=''">
             and endBlack LIKE CONCAT('%',#{endBlack},'%')
          </if>
          <if test="abstrac!=null and abstrac!=''">
             and abstrac LIKE CONCAT('%',#{abstrac},'%')
          </if> 
          <if test="classify!=null and classify!=''">
              and classify LIKE CONCAT('%',#{classify},'%')
          </if>
         <if test="uId!=null and uId!=''">
            and uId = #{uId}
         </if>
         <if test="remarks!=null and remarks!=''">
            and remarks LIKE CONCAT('%',#{remarks},'%')
         </if>
         <!-- <if test="status!=null and status!=''">
            and status = #{status}
         </if> -->
    </sql>
    
</mapper>