<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.financial.dao.CapitalNatrueDao">
     
       <resultMap id="capitalNatrue" type="cn.financial.model.CapitalNatrue">
           <id column="id" property="id" jdbcType="INTEGER" />
           <result column="name" property="name" jdbcType="VARCHAR" />
           <result column="cId" property="cId" jdbcType="INTEGER" />
          <!--  <association property="users"  resultMap="userResultMap" ></association> -->
       </resultMap>    
 
    
       
       <!-- 根据条件查询账户性质项目分类数据-->
       <select id="listCapitalNatrue" parameterType="map" resultType="CapitalNatrue">
         SELECT * FROM 
         capitalNatrue 
         <include refid="query_capitalNatrue_where"></include>
       </select>
       
      
      
      <!--定义一个sql -->
     <sql id="query_capitalNatrue_where">
         <!-- <if test=" plate!=null and plate!=''">
             and c.plate LIKE CONCAT('%',#{plate},'%')
             and c.plate =#{plate}
        </if>
        <if test=" bu!=null and bu!=''">
             and c.bu =#{bu}
        </if> -->
        <if test="cId!=null and cId!=''">
          where  cId=#{cId}
        </if>
       </sql>
    
</mapper>