<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.financial.dao.DataModuleDao">
    <resultMap type="cn.financial.model.DataModule" id="dataModule" >
	   <id column="id" property="id" jdbcType="VARCHAR" />
	   <result column="moduleKey" property="moduleKey" jdbcType="VARCHAR" />
	   <result column="moduleName" property="moduleName" jdbcType="VARCHAR" />
	   <result column="moduleData" property="moduleData" jdbcType="LONGVARCHAR" />
	   <result column="reportType" property="reportType" jdbcType="VARCHAR" />
	   <result column="businessType" property="businessType" jdbcType="VARCHAR" />
	   <result column="versionNumber" property="versionNumber" jdbcType="VARCHAR" />
	   <result column="founder" property="founder" jdbcType="VARCHAR" />
	   <result column="statue" property="statue" jdbcType="INTEGER" />
	   <result column="startTime" property="startTime" jdbcType="DATE"/>
	   <result column="createTime" property="createTime" jdbcType="DATE" />
	   <result column="updateTime" property="updateTime" jdbcType="DATE" />
	</resultMap>    
	<!--查询全部模板/多条件查询模板列表-->
    <select id="listDataModule" parameterType="map" resultType="dataModule">
        SELECT id,moduleKey,moduleName,reportType,businessType,versionNumber,founder,statue,startTime,createTime,updateTime FROM dataModule WHERE 1 = 1 
        <include refid="query_dataModule_where"></include>
        ORDER BY createTime DESC
    </select>
    
    <!--根据条件查看单个模板-->
    <select id="getDataModule" parameterType="map" resultType="dataModule">
        SELECT id,moduleKey,moduleName,moduleData,reportType,businessType,versionNumber,founder,statue,startTime,createTime,updateTime FROM dataModule WHERE 1 = 1
        <include refid="query_dataModule_where"></include>
        ORDER BY versionNumber DESC LIMIT 0,1
    </select>
    
    <!--新增模板-->
    <insert id="insertDataModule" parameterType="DataModule">
        insert into dataModule(id,moduleKey,moduleName,reportType,businessType,moduleData,versionNumber,founder,statue,createTime) 
        values (#{id},#{moduleKey},#{moduleName},#{reportType},#{businessType},#{moduleData},#{versionNumber},#{founder},#{statue},curdate())
    </insert>

    <!--修改模板-->
    <!-- <update id="updateUser" parameterType="user">
         UPDATE user
		 <trim prefix="set" suffixOverrides=",">
		  <if test="name!=null and name!=''">name=#{name},</if>
		  <if test="realName!=null and realName!=''">realName=#{realName},</if>
		  <if test="pwd!=null and pwd!=''">pwd=#{pwd},</if>
		  <if test="jobNumber!=null and jobNumber!=''">jobNumber=#{jobNumber},</if>
		  <if test="salt!=null and salt!=''">salt=#{salt},</if> 
		  updateTime = curdate(),
		 </trim>
		 WHERE id=#{id}
    </update> -->
    <update id="updateDataModuleState">
        UPDATE dataModule SET statue=0,updateTime = curdate() WHERE id=#{id}
    </update>
    
    <!--定义一个sql片段 -->
    <sql id="query_dataModule_where">
        <if test="id!=null and id!=''">
            and id = #{id,jdbcType=VARCHAR}
        </if>
        <if test="moduleName!=null and moduleName!=''">
            and moduleName = #{moduleName,jdbcType=VARCHAR}
        </if>
        <if test="versionNumber!=null and versionNumber!=''">
            and versionNumber = #{versionNumber,jdbcType=VARCHAR}
        </if>
        <if test="businessType!=null and businessType!=''">
            and businessType = #{businessType,jdbcType=VARCHAR}
        </if>
        <if test="reportType!=null and reportType!=''">
            and reportType = #{reportType,jdbcType=VARCHAR}
        </if>
        <if test="founder!=null and founder!=''">
            and founder = #{founder,jdbcType=VARCHAR}
        </if>
        <if test="statue!=null and statue!=''">
            and statue = #{statue,jdbcType=INTEGER}
        </if>
    </sql>
</mapper>