<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 消息表 -->
<mapper namespace="cn.financial.dao.MessageDAO">

	<!-- 消息POJO对应数据库字段 -->
	<resultMap type="Message" id="messageResultMap">
		<id property="id" column="id" javaType="string" jdbcType="VARCHAR"></id>
		<result property="status" column="status" javaType="int"
			jdbcType="INTEGER"></result>
		<result property="theme" column="theme" javaType="int"
			jdbcType="INTEGER"></result>
		<result property="content" column="content" javaType="string"
			jdbcType="VARCHAR"></result>
		<result property="oId" column="oId" javaType="string" jdbcType="VARCHAR"></result>
		<result property="isTag" column="isTag" javaType="int"
			jdbcType="INTEGER"></result>
		<result property="createTime" column="createTime" javaType="date"
			jdbcType="TIMESTAMP"></result>
		<result property="updateTime" column="updateTime" javaType="date"
			jdbcType="TIMESTAMP"></result>
		<result property="uId" column="uId" javaType="string"
			jdbcType="VARCHAR"></result>
		<result property="fileURL" column="fileURL" javaType="string"
			jdbcType="VARCHAR"></result>
	</resultMap>

	<!-- 新增 消息 节点信息 -->
	<insert id="saveMessage" parameterType="Message" keyProperty="id">
		insert into message (
		id,
		status,
		theme,
		content,
		oId,
		isTag,
		sName,
		createTime,
		uId,
		fileURL
		)
		values
		(#{id,jdbcType=VARCHAR},#{status,jdbcType=INTEGER},#{theme,jdbcType=INTEGER},#{content,jdbcType=VARCHAR},#{oId,jdbcType=VARCHAR},#{isTag,jdbcType=INTEGER},#{sName,jdbcType=VARCHAR},now(),#{uId,jdbcType=VARCHAR},#{fileURL,jdbcType=VARCHAR})
	</insert>

	<!-- 查询所有的消息
	<select id="listMessage" resultMap="messageResultMap">
		select
		id,status,theme,content,oId,isTag,createTime,updateTime
		from
		message
		order by
		createTime desc
	</select> -->

	<!-- 根据用户权限展示相应的消息 -->
	<select id="listMessageBy" parameterType="map" resultMap="messageResultMap">
        select * from message
        where( uId = #{uId,jdbcType=VARCHAR}
        <if test="code!=null and code!=''">
        	or oId in (select id from organization where 1=1 
        	and 
        	<foreach collection="code" item="codee" index="index" separator="OR">
        		code LIKE CONCAT (#{codee},"%")
        	</foreach>
        	)
        </if> )
        <include refid="query_message_where"></include>
        order by createTime desc
        limit #{start},#{pageSize}
	</select>
	
	<!-- 根据条件查询消息 -->
    <select id="listAllMessage" resultMap="messageResultMap">
        select
        *
        from
        message
        where
        1 = 1
        order by createTime desc
    </select>

	<!-- 根据ID查询消息 -->
	<select id="getMessageById" parameterType="java.lang.String"
		resultMap="messageResultMap">
		select
		*
		from
		message
		where
		id =
		#{_parameter,jdbcType=VARCHAR}
	</select>

	<!-- 根据条件更新消息 -->
	<update id="updateMessageById" parameterType="map">
		update message
			set updateTime = curdate()
			<if test="status!=null and status!=''">
				,status = #{status,jdbcType=INTEGER}
			</if>
			<if test="theme!=null and theme!=''">
				,theme = #{theme,jdbcType=INTEGER}
			</if>
			<if test="content!=null and content!=''">
				,content = #{content,jdbcType=VARCHAR}
			</if>
			<if test="oId!=null and oId!=''">
				,oId = #{oId,jdbcType=VARCHAR}
			</if>
			<if test="sName!=null and sName!=''">
				,sName = #{sName,jdbcType=VARCHAR}
			</if>
			<if test="isTag!=null and isTag!=''">
				,isTag = #{isTag,jdbcType=INTEGER}
			</if>
		where
		id = #{id,jdbcType=VARCHAR}
	</update>

	<!-- 根据Id删除消息 -->
	<delete id="deleteMessageById" parameterType="java.lang.String">
		delete
		from
		message
		where
		id = #{_parameter,jdbcType=VARCHAR}
	</delete>
	<!-- 根据消息状态展示消息列表  -->
	<!-- <select id="listMessage" parameterType="map" resultMap="messageResultMap">
		select * from message
        where (uId = #{uId,jdbcType=VARCHAR}
        <if test="oId!=null and oId!=''">
        	or	oId in 
	        <foreach collection="oId" index="index" item="item" open="(" separator="," close=")">
	        	#{item}
	        </foreach>
        </if>)
		<include refid="query_message_where"></include>
		order by createTime desc
		limit #{start},#{pageSize}
	</select> -->
	

	<!--定义一个sql片段 -->
	<sql id="query_message_where">
		<if test="status!=null and status!=''">
			and status = #{status,jdbcType=INTEGER}
		</if>
		<if test="theme!=null and theme!=''">
			and theme = #{theme,jdbcType=INTEGER}
		</if>
		<if test="isTag!=null and isTag!=''">
			and isTag = #{isTag,jdbcType=INTEGER}
		</if>
	</sql>

</mapper>