<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 组织架构移动信息记录表 -->
<mapper namespace="cn.financial.dao.OrganizationMoveDao" >
	<!-- POJO对应数据库字段 -->
	<resultMap type="OrganizationMove" id="organizationMoveResultMap">
		<id property="id" column="id" jdbcType="VARCHAR" ></id>
		<result property="his_Id" column="his_Id" javaType="string"
			jdbcType="VARCHAR"></result>
		<result property="new_Id" column="new_Id" javaType="string"
			jdbcType="VARCHAR"></result>
		<result property="createTime" column="createTime"
			javaType="string" jdbcType="TIMESTAMP"></result>
		<result property="updateTime" column="updateTime"
			javaType="string" jdbcType="TIMESTAMP"></result>
		<result property="modifier" column="modifier" javaType="string"
			jdbcType="VARCHAR"></result>
	</resultMap>
	
	<!-- 新增 -->
	<insert id="saveOrganizationMove" parameterType="OrganizationMove" keyProperty="id" >
		insert into organization_move(
			id,
			his_Id,
			new_Id,
			createTime,
			modifier,
			newParent_Id 
		)
		values
		(#{id,jdbcType=VARCHAR},#{his_Id,jdbcType=VARCHAR},#{new_Id,jdbcType=VARCHAR},now(),#{modifier,jdbcType=VARCHAR},#{newParent_Id,jdbcType=VARCHAR})
	</insert>
	<!-- 查询 -->
	<select id="listOrganizationMoveBy" resultType="OrganizationMove">
		SELECT
			om.*
		FROM
			organization_move om
		INNER JOIN organization o ON om.his_Id = o.id
		INNER JOIN organization org ON om.new_Id = org.id
		<if test="orgkey!=null and orgkey!=''">
		WHERE
			o.orgkey = #{orgkey,jdbcType=VARCHAR}
		</if>
		ORDER BY
			om.createTime DESC
	</select>
</mapper>