<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 组织结构 -->
<mapper namespace="cn.financial.dao.OrganizationDAO">

	<!-- 组织架构POJO对应数据库字段 -->
	<resultMap type="Organization" id="organizationResultMap">
		<id property="id" column="id" jdbcType="VARCHAR"></id>
		<result property="code" column="code" javaType="string"
			jdbcType="VARCHAR"></result>
		<result property="parentId" column="parentId" javaType="string"
			jdbcType="VARCHAR"></result>
		<result property="orgName" column="orgName" javaType="string"
			jdbcType="VARCHAR"></result>
		<result property="createTime" column="createTime" javaType="string"
			jdbcType="TIMESTAMP"></result>
		<result property="updateTime" column="updateTime" javaType="string"
			jdbcType="TIMESTAMP"></result>
		<result property="uId" column="uId" javaType="string" jdbcType="VARCHAR"></result>
		<result property="status" column="status" javaType="int"
			jdbcType="INTEGER"></result>
		<result property="his_permission" column="his_permission"
			javaType="string" jdbcType="VARCHAR"></result>

	</resultMap>

	<!-- 新增组织结构节点信息 -->
	<insert id="saveOrganization" parameterType="Organization"
		keyProperty="id">
		insert into organization (
		id,
		code,
		parentId,
		orgName,
		createTime,
		uId,
		his_permission
		)
		values
		(#{id,jdbcType=VARCHAR},#{code,jdbcType=VARCHAR},#{parentId,jdbcType=VARCHAR},#{orgName,jdbcType=VARCHAR},now(),#{uId,jdbcType=VARCHAR},#{his_permission,jdbcType=VARCHAR})
	</insert>
	
    <!--查询该节点以及节点以下的  -->
    <select id="listOrganization"  resultType="Organization">
    	select
		id,code,parentId,orgName,createTime,updateTime,uId,his_permission
		from
		organization
		where
		status = 1
     <include refid="query_organization_find"></include>
    </select>
    
    <select id="listOrganizationcode" resultType="Organization">
      select
		id,code,parentId,orgName,createTime,updateTime,uId,his_permission
		from
		organization
		where
		status = 1
     <include refid="query_organization_code"></include>
   </select>
    
        <sql id="query_organization_find">
         and code in
        <foreach  item="sa" collection="list" open="("separator=","close=")">
		#{item}
        </foreach>
           and id in
          <foreach item="item" collection="list" open="(" separator="," close=")">
			#{item,jdbcType=VARCHAR}
          </foreach>
        </sql>
        
         <sql id="query_organization_code">
            and code in 
		<foreach item="item"  collection="code" open="(" separator="," close=")">  
			#{item,jdbcType=VARCHAR}  
		</foreach>
        </sql>
	<!-- 根据条件查询组织结构信息 -->
	<select id="listOrganizationBy" parameterType="map" resultType="Organization">
		select
		id,code,parentId,orgName,createTime,updateTime,uId,his_permission
		from
		organization
		where
		status = 1
		<include refid="query_organization_where"></include>
	</select>
	
	<!-- 根据条件查询组织结构信息（包含状态为1和0） -->
    <select id="listAllOrganizationBy" parameterType="map" resultType="Organization">
        select
        id,code,parentId,orgName,createTime,updateTime,uId,his_permission
        from
        organization
        where
        1 = 1
        <include refid="query_organization_where"></include>
    </select>

	<!-- 根据Id更新组织结构信息 -->
	<update id="updateOrganizationById" parameterType="map">
		update organization
		<trim prefix="set" suffixOverrides=",">
			<if test="code!=null and code!=''">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="parentId!=null and parentId!=''">
				parentId = #{parentId,jdbcType=VARCHAR},
			</if>
			<if test="orgName!=null and orgName!=''">
				orgName = #{orgName,jdbcType=VARCHAR},
			</if>
			<if test="createTime!=null and createTime!=''">
				createTime = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="uId!=null and uId!=''">
				uId = #{uId,jdbcType=VARCHAR},
			</if>
			<if test="his_permission!=null and his_permission!=''">
				his_permission = #{his_permission,jdbcType=VARCHAR},
			</if>
			updateTime = now()
		</trim>
		where
		id = #{id,jdbcType=VARCHAR}
		and
		status = 1
	</update>

	<!-- 根据条件删除组织结构信息 -->
	<delete id="deleteOrganizationById" parameterType="java.lang.String">
		delete
		from
		organization
		where
		id = #{_parameter,jdbcType=VARCHAR}
	</delete>

	<!-- 根据组织结构ID修改状态为0，即已停用 -->
	<update id="deleteOrganizationByStatus" parameterType="java.lang.String">
		update
		organization
		set
		status = 0,
		updateTime = now()
		where
		id =
		#{_parameter,jdbcType=VARCHAR}
	</update>

	<!-- 根据code查询该节点下的所有子节点 ,构建成树 -->
	<select id="listTreeByCodeForSon" parameterType="java.lang.String"
		resultType="Organization">
		select
		id,code,parentId,orgName,createTime,updateTime,uId,his_permission
		from
		organization
		where
		find_in_set(code,getChildLst(#{_parameter,jdbcType=VARCHAR}))
		and
		status = 1
	</select>

	<!-- 根据code查询该节点下的所有父节点 -->
	<select id="listTreeByCodeForParent" parameterType="java.lang.String"
		resultType="Organization">
		select
		id,code,parentId,orgName,createTime,updateTime,uId,his_permission
		from
		organization
		where
		find_in_set(code,getParentList(#{_parameter,jdbcType=VARCHAR}))
		and
		status = 1
	</select>
	

	<!--定义一个sql片段 -->
	<sql id="query_organization_where">
		<if test="id!=null and id!=''">
			and id = #{id,jdbcType=VARCHAR}
		</if>
		<if test="code!=null and code!=''">
			and code = #{code,jdbcType=VARCHAR}
		</if>
		<if test="parentId!=null and parentId!=''">
			and parentId = #{parentId,jdbcType=VARCHAR}
		</if>
		<if test="orgName!=null and orgName!=''">
			and orgName = #{orgName,jdbcType=VARCHAR}
		</if>
		<if test="createTime!=null and createTime!=''">
			and createTime = #{createTime,jdbcType=TIMESTAMP}
		</if>
		<if test="updateTime!=null and updateTime!=''">
			and updateTime = #{updateTime,jdbcType=TIMESTAMP}
		</if>
		<if test="uId!=null and uId!=''">
			and uId = #{uId,jdbcType=VARCHAR}
		</if>
		<if test="status!=null and status!=''">
			and status = #{status,jdbcType=INTEGER}
		</if>
		<if test="his_permission!=null and his_permission!=''">
			and his_permission = #{his_permission,jdbcType=VARCHAR}
		</if>
	</sql>
	
	<!-- 获取组织机构为公司的数据 -->
	<select id="getCompany"  resultType="Organization">
		select
		id,code,parentId,orgName,createTime,updateTime,uId,his_permission
		from
		organization
		where
		status = 1
		and orgName like '%公司%' or orgName ='盛世大联保险事业部'  or orgName='大客户部业务一部'
	</select>
	
</mapper>