<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.financial.dao.RoleResourceDAO">
	<!--查询全部/根据角色id查对应的功能权限-->
    <select id="listRoleResource" parameterType="STRING" resultType="cn.financial.model.RoleResource">
        SELECT m.id as id,r.id as rId,s.id as sId,r.roleName as roleName,s.name as name,s.code as code,
		s.url as url,s.parentId as parentId,s.permssion as permssion,DATE_FORMAT(m.createTime,"%Y-%m-%d %h:%i:%s") as createTime
		FROM role r inner join role_resource_mapping m on r.id=m.rId INNER JOIN resource s on s.id=m.sId 
		WHERE 1 = 1 and r.status = 1 and s.status = 1
		<if test="rId!=null and rId!=''">
            and r.id=#{rId}
        </if>
		ORDER BY m.createTime DESC
    </select>
	<!--根据sort排序-->
    <select id="listRoleResourceSort" parameterType="list" resultType="cn.financial.model.RoleResource">
        SELECT m.id as id,r.id as rId,s.id as sId,r.roleName as roleName,s.name as name,s.code as code,
		s.url as url,s.parentId as parentId,s.permssion as permssion,s.sort as sort,DATE_FORMAT(m.createTime,"%Y-%m-%d %h:%i:%s") as createTime
		FROM role r inner join role_resource_mapping m on r.id=m.rId INNER JOIN resource s on s.id=m.sId 
		WHERE 1 = 1 and r.status = 1 and s.status = 1
		<if test="rId!=null and rId!=''">
            and r.id in
            <foreach collection="rId" item="rId" index="index" open="(" separator="," close=")" >
                #{rId}
            </foreach>
        </if>
		ORDER BY s.sort DESC
    </select>
    <!--新增-->
    <insert id="insertRoleResource" parameterType="cn.financial.model.RoleResource">
        insert into role_resource_mapping(id,rId,sId,createTime) values (#{id},#{rId},#{sId},now())
    </insert>
    <!-- 修改 (先删除角色关联的功能权限信息，再重新添加该角色的功能权限信息)-->
    <delete id="deleteRoleResource" parameterType="STRING">
        DELETE FROM role_resource_mapping where rId=#{rId}
    </delete>
    <insert id="updateRoleResource" parameterType="cn.financial.model.UserRole">
        insert into role_resource_mapping(id,rId,sId,updateTime) values (#{id},#{rId},#{sId},now())
    </insert>
</mapper>