<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.financial.dao.UserDAO">
    <resultMap type="cn.financial.model.User" id="user" >
	   <id column="id" property="id" jdbcType="VARCHAR" />
	   <result column="name" property="name" jdbcType="VARCHAR" />
	   <result column="pwd" property="pwd" jdbcType="VARCHAR" />
	   <result column="privilege" property="privilege" jdbcType="INTEGER" />
	   <result column="createTime" property="createTime" jdbcType="DATE" />
	   <result column="updateTime" property="updateTime" jdbcType="DATE" />
	   <result column="oId" property="oId" jdbcType="VARCHAR" /> 
	   <!-- <association property="oId" javaType="Organization">  
            <id column="id" property="id" jdbcType="VARCHAR"/>  
            <result column="parentId" property="parentId" jdbcType="VARCHAR"/>  
            <result column="orgName" property="orgName" jdbcType="VARCHAR"/>  
            <result column="createTime" property="createTime" jdbcType="DATE" />
	        <result column="updateTime" property="updateTime" jdbcType="DATE" />
	        <result column="uId" property="uId" jdbcType="VARCHAR" /> 
       </association> -->
	</resultMap>    
	<!--查询全部用户-->
    <select id="listUser" resultMap="user">
        SELECT id,name,realName,pwd,privilege,createTime,updateTime,oId from user
    </select>
    <!--新增用户-->
    <insert id="insertUser" parameterType="user">
        insert into user(id,name,realName,pwd,privilege,createTime,updateTime,oId) values (#{id},#{name},#{realName},#{pwd},#{privilege},#{createTime},#{updateTime},#{oId})
    </insert>
    <!--根据id查询用户-->  
    <select id="getUserById" parameterType="string" resultType="user">
         SELECT id,name,realName,pwd,privilege,createTime,updateTime,oId FROM user WHERE id=#{id}
    </select>
    <!--根据name查询用户-->  
    <select id="countUserName" parameterType="string" resultType="INTEGER">
         SELECT COUNT(name) FROM user WHERE name=#{name}
    </select>
    <!--修改用户-->
    <update id="updateUser" parameterType="user">
         UPDATE user
		 <trim prefix="set" suffixOverrides=",">
		  <if test="name!=null and name!=''">name=#{name},</if>
		  <if test="realName!=null and realName!=''">realName=#{realName},</if>
		  <if test="pwd!=null and pwd!=''">pwd=#{pwd},</if>
		  <if test="privilege!=null and privilege!=''">privilege=#{privilege},</if>
		  <if test="createTime!=null and createTime!=''">createTime=#{createTime},</if>
		  <if test="updateTime!=null and updateTime!=''">updateTime=#{updateTime},</if>
		  <if test="oId!=null and oId!=''">oId=#{oId},</if>
		 </trim>
		 WHERE id=#{id}
    </update>
    <!--删除用户-->
    <delete id="deleteUser" parameterType="string">
         DELETE FROM user WHERE id = #{userId}
    </delete>
</mapper>